table {
    width: 40%;
    border-collapse: collapse;
  }

  h1{ text-align: center;

  }
  
  th, td {
    border: 2px solid black;
    padding: 7px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
  }
  
  .semana {
    background-color: #919191;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .ed {
    padding: 2px;
  }
  
  .turno{
        background-color: rgb(170, 170, 170);
        padding: 2px;
        font-size: 14px;
  }
  
  .m {
    background-color: rgb(122, 122, 122);
    color: rgb(252, 252, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1px;
  }

  .t {
    background-color: rgb(122, 122, 122);
    color: rgb(252, 252, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1px;
  }
  
  
  .horas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .time {
    padding: 1px;
    font-size: 16px;
  }

  .inter{
    background-color: aliceblue;
    padding: 1px;
    font-size: 9px;


  }